{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'main.css' %}">
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
</head>
    {% include 'layouts/navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col">
                {% block title %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'layouts/footer.html' %}
<body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>