{% extends 'base.html' %}

{% block title %}
<div>
    <h4>
        Dashboard
    </h4>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="common-header">
        <div>
            Welcome to the dashboard
        </div>
        <div>
            <a href="{% url 'accounts:edit' %}">
                Edit
            </a>
            <span>/</span>
            <a href="{% url 'accounts:password-change' %}">
                Password Change
            </a>
        </div>
    </div>

</div>
{% endblock %}