{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<div>
    <h4>
        Profile Edit
    </h4>
</div>
<div class="common-header">
    <div>
        <a href="{% url 'accounts:dashboard' %}">
            Go Back
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <p>
            <input type="submit" value="Update My Account" class="btn btn-info" />
        </p>
    </form>
</div>
{% endblock %}