{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<div>
    <h4>
        Login
    </h4>
</div>
<div class="common-header">
    <h4>
        <a href="{% url 'accounts:dashboard' %}">
            Go Back
        </a>
    </h4>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p>
                        <input type="submit" value="Login" class="btn btn-primary"/>
                    </p>
                </form>
            </div>
            <div class="col">
                <div class="social">
                    <ul class="list-group">
                        <li class="facebook list-group-item">
                            <a href="{% url 'social:begin' 'facebook' %} ">
                                Sign in with facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}