{% extends 'base.html' %}

{% block sidebar %}
    <div>
        <h4>
            Categories
        </h4>
    </div>
    <div>
        <ul>
            <li>
                <a href="{% url 'shop:product-list' %}">
                    All
                </a>
            </li>
            {% for category in categories %}
                <li>
                    <a href="{{ categore.get_absolute_url }}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block title %}
    <div class="my-3">
        <h4>
            Product List
        </h4>
    </div>
    <div class="common-header my-3">
        <div>
            Left
        </div>
        <div>
            Right
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="my-3">
        some list ...
    </div>
{% endblock %}