body, html {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

body > .container-fluid {
    min-height: calc(100vh - 60px);
}

.common-header div {
    display: inline-block;
}

.common-header div:first-child {
    margin-top: 10px;
}

.common-header div:nth-child(2) {
    float: right;
}

.common-header::before, .common-header::after {
    clear: both;
    display: block;
}

.box-shadow {
    box-shadow: 0 1px 15px 0 lightgrey;
}

.box-shadow-hover {
    transition: box-shadow linear 0.25s;
}

.box-shadow-hover:hover {
    box-shadow: 0 1px 15px 0 lightgrey;
    transition: box-shadow linear 0.25s;
}

.navbar-brand-margin-tweak {
    margin-left: 14px;
}

.count {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.row.equal  [class|='col'] div {
    height: 100%;
}

.img-hover {
    transition: transform linear 0.25s;
    transform: scale(0.9)
}

.img-hover:hover {
    transition: transform linear 0.25s;
    transform: scale(1)
}

footer {
    height: 60px;
    width: 100%;
}