body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.box-shadow {
    box-shadow: 0 1px 15px lightgrey;
}

.box-shadow-hover:hover {
    box-shadow: 0 1px 15px lightgrey;
}

.common-header  div {
    display: inline-block;
}

.common-header:first-child {
    margin-top: 10px;
}

.common-header div:nth-child(2) {
    float: right;
}

.common-header::before, .common-header::after {
    clear: both;
    content: "";
    display: block;
}

body > .container-fluid {
    min-height: calc(100vh - 60px);
}

footer {
    height: 60px;
    display: block;
    width: 100%;
}