<nav class="navbar navbar-expand-lg navbar-light bg-light" current-page="{{section}}">
    <a class="navbar-brand navbar-brand-margin-tweak" href="#">
        Bookmarks
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link dashboard-nav" href="{% url 'pages:dashboard' %}">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link images-nav"  href="{% url 'images:list' %}">
                        Images
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link people-nav" href="{% url 'account:list' %}">
                        People
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link">
                        Hi, {{ request.user.username }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:logout' %}">
                        Logout
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:login' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:signup' %}">
                        Sign Up
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>