{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<div>
    <h4>
        Login
    </h4>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <p>
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </p>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="social">
                    <ul class="list-group text-center">
                        <li class="facebook list-group-item">
                            <a href="{% url 'social:begin' 'facebook' %} " class="text-primary">
                                <i class="fab fa-facebook-f"></i>
                                <span>Sign in with facebook</span>
                            </a>
                        </li>
                        <li class="facebook list-group-item">
                            <a href="{% url 'social:begin' 'twitter' %} " class="text-info">
                                <i class="fab fa-twitter"></i>
                                <span>Sign in with twitter</span>
                            </a>
                        </li>
                        <li class="facebook list-group-item">
                            <a href="{% url 'social:begin' 'google-oauth2' %} " class="text-success">
                                <i class="fab fa-google"></i>
                                <span>Sign in with Google</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="{% url 'accounts:password-reset' %}">
            <code class="text-primary">
                Forgotten your password ?
            </code>
        </a>
    </div>
</div>
{% endblock %}