{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<div>
    <h4>Delete</h4>
</div>
<div>
    <p>
        <a href="{% url 'articles:list' %}">
            <code class="text-info">
                Go Back
            </code>
        </a>
    </p>
</div>
{% endblock %}

{% block content %}
<div>
    <div>
        <p>
            Are you sure you want to delete {{ article.title }}
        </p>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <p>
            <input type="submit" value="Confirm" class="btn btn-danger" />
        </p>
    </form>
</div>
{% endblock %}