{% extends 'base.html' %}

{% block title %}
<div>
    <h4>
        Dashboard
    </h4>
</div>
<div class="common-header">
    <div>
        <a href="#">
            Images
        </a>
        <span>/</span>
        <a href="#">
            People
        </a>
    </div>
    <div>
        <a href="{% url 'account:profile-edit' %}">
            Edit
        </a>
        <span>/</span>
        <a href="{% url 'account:password-change' %}">
            Password Change
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    {% with total_images_created=request.user.images_created.count %}
        <p>
            Welcome to your dashboard.
            You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}
        </p>
        <p>
            Drag the following button to your bookmarks toolbar to bookmark images
            from other websites
            <a
                class="btn btn-secondary"
                href="javascript:{% include 'root/bookmarklet_launcher.js' %}">
            </a>
        </p>
    {% endwith %}
</div>
{% endblock %}