{% extends 'base.html' %}

{% block title %}
<div>
    <h4>
        Dashboard
    </h4>
</div>
<div class="common-header">
    <div>
        <a href="{% url 'images:list' %}">
            Images
        </a>
        <span>/</span>
        <a href="{% url 'account:list' %}">
            People
        </a>
    </div>
    <div>
        <a href="{% url 'account:profile-edit' %}">
            Edit
        </a>
        <span>/</span>
        <a href="{% url 'account:password-change' %}">
            Password Change
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    {% with total_images_created=request.user.images_created.count %}
        <p>
            Welcome to your dashboard.
            You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}
        </p>
        <p>
            Drag the following button to your bookmarks toolbar to bookmark images
            from other websites
            <a
                class="btn btn-secondary"
                href="javascript:{% include 'root/bookmarklet_launcher.js' %}">
                Bookmark it
            </a>
        </p>
    {% endwith %}
</div>
<div class="row">
    <div class="col-sm-6">
        <h5>What's happening</h5>
        <div id="action-list">
            {% for action in actions %}
                {% include "actions/detail.html" %}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <h5>Popular Images</h5>
            <div id="popular-images-list">
                {% load thumbnail %}
                {% for image in images_by_popularity %}
                    {% thumbnail image.image "80x80" crop="100%" as im %}
                        <a href="{{ image.get_absolute_url }}">
                            <img src="{{ im.url }}" class="item-img" />
                        </a>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        </div>
        <div class="mt-5">
            <h5>Most Viewed Images</h5>
            <div id="popular-images-list">
                {% load thumbnail %}
                {% for image in most_viewed %}
                    {% thumbnail image.image "80x80" crop="100%" as im %}
                        <a href="{{ image.get_absolute_url }}">
                            <img src="{{ im.url }}" class="item-img" />
                        </a>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}