{% extends 'base.html' %}

{% load blog_tags %}

{% block title %}
<div>
    <div>
        <h4>
            Home
        </h4>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="common-header">
    <div>
        <p>
            It is a simple blogging website with many extraordinary features
        </p>
    </div>
    {% verbatim %}
    <div>
        <a onclick="fetchFeed()" class="text-primary cursor-pointer">
            <i class="far fa-copy"></i>
        </a>
    </div>
    {% endverbatim %}
</div>
<div>
    <div class="card box-shadow-hover">
        <div class="m-3">
            <div class="common-header">
                <h4>
                    Latest Posts
                </h4>
            </div>
            <div>
                {% show_latest_posts %}
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <div class="card box-shadow-hover">
        <div class="m-3">
            <div class="common-header">
                <h4>
                    Most Commented Posts
                </h4>
            </div>
            <div>
                {% show_most_commented_posts %}
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <card class="card box-shadow-hover">
        <div class="m-3 commonheader">
            <div>
                <p>
                    This site contains {% total_posts %} posts so far
                </p>
            </div>
        </div>
    </card>
</div>
{% endblock %}