{% extends 'base.html' %}

{% block title %}
<div class="mb-1">
    <div>
        <h4>
            Post Details
        </h4>
    </div>
    <div class="common-header">
        <div>
            <a href="{% url 'blogs:posts-list' %}">
                <code class="text-primary">
                    Go Back
                </code>
            </a>
            <span>/</span>
            <a href="#">
                <code class="text-info">
                    Update
                </code>
            </a>
            <span>/</span>
            <a href="#">
                <code class="text-danger">
                    Delete
                </code>
            </a>
        </div>
        <div>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link">
                        {{ post.publish.year }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        {{ post.publish.month }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        {{ post.publish.day }}
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link">
                        {{ post.slug }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="card box-shadow-hover mb-3" onclick="goToPostDetailsPage('{{post.slug}}')">
        <div class="card-body">
            <div class="card-text">
                <h5>{{ post.title }}</h5>
            </div>
            <div class="card-text">
                <p>{{ post.body }}</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-text">
                <div>
                    Author: {{ post.author.username }}
                </div>
                <div>
                    Email: {{ post.author.email }}
                </div>
                <div>
                    Published: {{ post.publish }}
                </div>
                <div>
                    Updated: {{ post.updated }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}