{% extends 'base.html' %}

{% load blog_tags %}

{% load crispy_forms_tags %}

{% block title %}
<div class="mb-1">
    <div>
        <h4>
            Post Details
        </h4>
    </div>
    <div class="common-header">
        <div>
            <a href="{% url 'blogs:posts-list' %}">
                <code class="text-primary">
                    Go Back
                </code>
            </a>
            <span>/</span>
            <a href="{% url 'blogs:posts-update' year=post.publish.year month=post.publish.month day=post.publish.day slug=post.slug %}">
                <code class="text-info">
                    Update
                </code>
            </a>
            <span>/</span>
            <a href="{% url 'blogs:posts-delete' year=post.publish.year month=post.publish.month day=post.publish.day slug=post.slug %}">
                <code class="text-danger">
                    Delete
                </code>
            </a>
        </div>
        <div>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link">
                        {{ post.publish.year }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        {{ post.publish.month }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        {{ post.publish.day }}
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link">
                        {{ post.slug }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="card box-shadow-hover mb-3">
        <div class="card-body">
            <div class="card-text">
                <h5>{{ post.title }}</h5>
            </div>
            <div class="card-text">
                <p>{{ post.body|markdown }}</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-text">
                <div>
                    Author: {{ post.author.username }}
                </div>
                <div>
                    Email: {{ post.author.email }}
                </div>
                <div>
                    Published: {{ post.publish }}
                </div>
                <div>
                    <div class="row">
                        <div class="col">
                            Updated: {{ post.updated }}
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'blogs:posts-email-share' post_id=post.id %}">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer mt-5">
            <div class="common-header">
                <div>
                    <h5>
                        Add Comment
                    </h5>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <p>
                    <input type="submit" class="btn btn-primary" value = "Add Comment" />
                </p>
            </form>
        </div>
        <div class="m-3">
            <div class="common-header">
                <div>
                    <h5>
                        Comments
                    </h5>
                </div>
                <div>
                    {% include 'layouts/pagination.html' with pages=comments %}
                </div>
            </div>
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <code class="text-primary">
                            Name: {{ comment.name }}
                        </code>
                        <code class="text-info">
                            Email: {{ comment.email }}
                        </code>
                    </div>
                    <div class="card-footer">
                        {{ comment.body|linebreaks }}
                    </div>
                </div>
            {% empty %}
                <p>
                    There are no comments yet!
                </p>
            {% endfor %}
        </div>
        <div class="m-3">
            <div class="common-header">
                <div>
                    <h5>
                        Similar Posts
                    </h5>
                </div>
            </div>
            {% for similar_post in similar_posts %}
                <span>
                    <a href="{{ similar_post.get_absolute_url }}">
                        {{ similar_post.title }}
                    </a>
                </span>
            {% empty %}
                <p>
                    There are no similar posts yet!
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}