{% extends 'base.html' %}

{% load blog_tags %}

{% block title %}
<div class="mb-1">
    <div>
        <h4>
            Post List
            <span>
                {% if tag %}
                    with "
                    {% for t in tag %}
                        {{ t.slug }}
                    {% endfor %}
                    "
                {% endif %}
            </span>
        </h4>
    </div>
    <div class="common-header">
        <div>
            {% if tag %}
                <a href="{% url 'blogs:posts-list' %}">
                    <code class="text-primary">
                        Go Back
                    </code>
                </a>
            {% else %}
                <a href="{% url 'pages:home' %}">
                    <code class="text-primary">
                        Go Home
                    </code>
                </a>
            {% endif %}
            {% if user.is_authenticated %}
            <span>/</span>
            <a href="{% url 'blogs:posts-create' %}">
                <code class="text-info">
                    Create
                </code>
            </a>
            {% endif %}
            <span>/</span>
            <a href="{% url 'blogs:posts-search' %}">
                <code class="text-success">
                    Advanced Search
                </code>
            </a>
        </div>
        <!-- {% include 'layouts/pagination.html' with pages=page_obj %} -->
        <div>
            {% include 'layouts/pagination.html' with pages=posts %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div>
        {% for post in posts %}
            <div
                class="card box-shadow-hover mb-3"
                onclick="goToPostDetailsPage({
                    year: '{{post.publish.year}}',
                    month: '{{post.publish.month}}',
                    day: '{{post.publish.day}}',
                    slug: '{{post.slug}}',
                })">
                <div class="card-body">
                    <div class="card-text common-header">
                        <div>
                            <h6>{{ post.title }}</h6>
                        </div>
                        <div>
                            {% if post.tags.all %}
                                <a href="{% url 'blogs:posts-list-tag' post.tags.all|join:'-' %}">
                                    <span class="badge badge-primary">
                                        {{ post.tags.all|join:", " }}
                                    </span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-text">
                        <p>{{ post.body|markdown|truncatewords:30|linebreaks }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-text">
                        Author: {{ post.author.username }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <div class="card box-shadow-hover">
            <div class="m-3">
                <div class="common-header">
                    <h4>
                        Latest Posts
                    </h4>
                </div>
                <div>
                    {% show_latest_posts %}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="card box-shadow-hover">
            <div class="m-3">
                <div class="common-header">
                    <h4>
                        Most Commented Posts
                    </h4>
                </div>
                <div>
                    {% show_most_commented_posts %}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <card class="card box-shadow-hover">
            <div class="m-3 commonheader">
                <div>
                    <p>
                        This site contains {% total_posts %} posts so far
                    </p>
                </div>
            </div>
        </card>
    </div>
{% endblock %}