{% extends 'base.html' %}

{% block title %}
<div class="mb-1">
    <div>
        <h4>
            Post List
        </h4>
    </div>
    <div class="common-header">
        <div>
            <a href="{% url 'pages:home' %}">
                <code class="text-primary">
                    Go Home
                </code>
            </a>
            <span>/</span>
            <a href="{% url 'blogs:posts-create' %}">
                <code class="text-info">
                    Create
                </code>
            </a>
        </div>
        <!-- {% include 'layouts/pagination.html' with pages=posts %}  -->
        <div>
            {% include 'layouts/pagination.html' with pages=page_obj %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div>
        {% for post in posts %}
            <div
                class="card box-shadow-hover mb-3"
                onclick="goToPostDetailsPage({
                    year: '{{post.publish.year}}',
                    month: '{{post.publish.month}}',
                    day: '{{post.publish.day}}',
                    slug: '{{post.slug}}',
                })">
                <div class="card-body">
                    <div class="card-text">
                        <h6>{{ post.title }}</h6>
                    </div>
                    <div class="card-text">
                        <p>{{ post.body|truncatewords:30|linebreaks }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-text">
                        Author: {{ post.author.username }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}