{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<div>
    <h4>
        Bookmark an Image
    </h4>
</div>
<div class="common-header">
    <div>
        <a href="{% url 'accounts:dashboard' %}">
            Go Back
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="{{ request.GET.url }}" class="image-preview"/>
            </div>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p>
                        <input type="submit" value="Bookmark It" class="btn btn-primary" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}