{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<div>
    <h4>
        Share the post
    </h4>
</div>
<div>
    <a href="{% url 'blogs:posts-details' slug=post.slug year=post.publish.year month=post.publish.month day=post.publish.day %}">
        Go Back
    </a>
</div>
{% endblock %}

{% block content %}
<div>
    {% if sent %}
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}
        </p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
                <input type="submit" class="btn btn-primary" value="Confirm"/>
            </p>
        </form>
    {% endif %}
</div>
{% endblock %}